.outer{
    height: calc(100vh - 6vh);
    /* background-color:#40c3f8; */
     background: linear-gradient(to right,#00c6ff,#0072ff);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}

/* .outer > h2{
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-top: 10px;
    text-shadow:0px 0px 5px white;
} */

.outer > h3{
    text-shadow:0px 0px 5px white;
    font-size: 28px;
    margin-bottom: 10px;
}

.outer > .inner>.addEmployee{
    /* border: 2px solid red; */
    width: 400px;
    border-radius: 50px;
    background:linear-gradient(to right , #24C6DC, #675ec9) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}



.outer > .inner>.addEmployee > form {
    /* border: 2px solid; */
    width: 70%;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    
}

.outer > .inner >.addEmployee> form >input{
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.outer > .inner >.addEmployee > form >input::placeholder{
    font-weight: bold;
    font-size: 15px;
}


.outer > .inner >.addEmployee> form >select{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
}

 .inner >.addEmployee > form > #add{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    /* margin-top: 20px; */
    background:linear-gradient(to right, #018749,#32de84);
   
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.2px;
    &&:hover{
         background:linear-gradient(to right, #0BDA51,#009F6B);
         box-shadow: 0px 0px 5px gray;
        
    }
}

.outer > #b1{
 padding: 10px;
  width: 100px;
  border: none;
  border-radius: 10px;
  background-color: rgb(136, 46, 164);
  color: white;
  margin: 10px 10px ;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.5px;
  cursor: pointer;
  text-transform: uppercase;

  &&:hover{
    background-color:rgb(194, 39, 241) ;
    box-shadow: 0px 0px 5px white;
   
  }
}