.outerEmployee{
  min-height: 94vh;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background-color: #40c3f8; */
     background: linear-gradient(to right,#00c6ff,#0072ff);
  gap: 30px;
  padding: 20px;

  

}

.innerRemove{
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  

}

.innerRemove>.selection>p{
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.innerRemove>select{
    padding: 10px;
    font-size: 15px;
    border: 1px solid white;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.innerRemove>.selection{
  width: 300px;
  /* border: 2px solid; */
  display: flex; 
  /* justify-content: center; */
  align-items: center;
}

.innerRemove>.options{
  /* border: 2px solid green; */
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .innerRemove>.options>input{
 
  padding-left: 20px;
} */

.innerRemove>.options>select{
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  font-size: 15px;
  border: 1px solid white;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  
}

.innerRemove>.button{
  /* border:2px solid; */
  width: 300px;
   display: flex;
  justify-content: center;
  align-items: center;
}

.innerRemove>.button>#search1{
  width: 200px;
  padding: 8px;
  border-radius: 10px;
  border: none;
  background:linear-gradient(to right,#009900,#00FA9A);
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: white;
  cursor: pointer;
  &&:hover{
    background-color: #0BDA51;
    color: black;
    box-shadow: 0px 0px 5px gray;
  }
}




.buttonss{
  width: 100%;
  /* border: 2px solid; */
  display: flex;
  justify-content: center;
  align-items: center;

}

 #b1{
  padding: 10px;
  width: 100px;
  border: none;
  border-radius: 10px;
  background-color: rgb(136, 46, 164);
  color: white;
  margin: 10px 10px ;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.5px;
  cursor: pointer;
  text-transform: uppercase;

  &&:hover{
    background-color:rgb(194, 39, 241) ;
    box-shadow: 0px 0px 5px white;
    /* color: black; */
  }
}

.innerRemove2{
  width: 100%;
  /* border: 2px solid blue; */
  /* background-color: red; */
}

.innerRemove2>.card{
  /* height: max-content; */
  /* border: 2px solid yellow; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  padding: 30px 50px;
}

.innerRemove2>.card>.empCard{
 /* height: 300px; */
  width: 500px;
  /* border: 2px solid; */
  
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  /* align-items: center; */
  /* align-items: flex-start; */
  gap: 20px;
  border-radius: 20px;
  background-color: #fcfefe;
   &&:hover{
      cursor: pointer;
      background-color: #dfdfdf; 
      transform: translateY(-3px);
      transition: 0.2s ease-in-out;
      /* box-shadow: 0 6px 12px rgba(0,0,0,0.15); */
  }
}

.innerRemove2>.card>p{
  font-size: 18px;
  font-weight: bold;
  
}

.innerRemove2>.card>.empCard>.emp-card{
  /* border: 2px solid ; */
  display: flex;
  width: 100%;
  gap: 10px;
  

}
.innerRemove2>.card>.empCard>.emp-card>.empLabels{
  /* border: 2px solid ; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
 

}


.innerRemove2>.card>.empCard>.emp-card>.empLabels>.heading{
  /* border: 2px solid ; */
  width: 100%;
  
}


.innerRemove2>.card>.empCard>.emp-card>.empValues{
  /* border: 2px solid ; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  
}

.innerRemove2>.card>.empCard>.emp-card>.empLabels>p{
  font-size: 17px;
  /* font-weight: 500; */
}

.innerRemove2>.card>.empCard>.emp-card>.empValues>p{
  font-size: 17px;
  font-weight: 600;
}


input{
  padding: 8px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid white;
  outline: none;
 
}

.innerRemove2>.card>.empCard>.branch{
  /* border: 2px solid; */
  display: flex;
  justify-content: center;

}

.innerRemove2>.card>.empCard>.branch>p{
  font-size: 18px;
  font-weight: bold;
}

.innerRemove2>.card>.empCard>.editButtons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid; */
}
.innerRemove2>.card>.empCard>.editButtons>#remove1{
 
  padding: 10px;
  width: 100px;
  border-radius:10px ;
  background:linear-gradient(to right, #F2003C,#fd5c63);
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.5px;
  /* border: 1px sold aliceblue;
  outline: none; */
  border: none;
  text-transform: uppercase;
  color: white;

  &&:hover{
    background: linear-gradient(to right, #E0115F,#DE3163,#CC0000);
    cursor: pointer;
    box-shadow: 0px 0px 5px white;
    color: black;
    

  }

}
.innerRemove2>.card>.empCard>.editButtons>#u1{
  padding: 10px;
  width: 100px;
  border-radius:10px ;
 background: linear-gradient(to right ,#FF00BF,#F9629F);
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.5px;
  /* border: 1px sold aliceblue;
  outline: none; */
  border: none;
  text-transform: uppercase;
   color: white;

  &&:hover{
   background: linear-gradient(to right, #FF69B4,#f0899a);
    cursor: pointer;
    box-shadow: 0px 0px 5px white;
    color: black;
   

  }

}


#mark{
  background-color: yellow;
  border: 2px solid ;
  border-radius: 5px;
  padding: 3px;
}